* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lobster", cursive;
}

.btn-success {
    border-radius: 25%;
}

.jumbotron a {
    color: #333 !important;
    text-decoration: none !important;
}

.jumbotron a:hover {
    color: #000 !important;
    text-decoration: none !important;
}

